@model CandidateNames.Models.FornameCounter

@{
    ViewBag.Title = "Forename first Character counter";
}

<h2>Forename first character</h2>

        <h2>Please set Path in Webconfig for File to read data from your drive </h2>
        <pre>
     
                appSettings>
                  add key="path" value="To your drive Location"
                
        </pre>

    <h2>Search following forename in Database</h2>

    <ul>
        @foreach (var item in Model.Forenames)
        {
            <li>@item</li>
        }
    </ul>

    <h2>Search result </h2>
    <table class="table">

        @foreach (var item in Model.nameCharacterCounter)
        {
            <tr>
                <td>
                    * @item.Key appears @item.Value times
                </td>
            </tr>
        }

    </table>
